@import url(//fonts.googleapis.com/css?family=Open+Sans);
@font-face {
  font-family: 'Druk Wide Bold';
  src: URL('../fonts/Druk\ Wide\ Bold/Druk Wide Bold.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-dark: #1f2326;
  --color-light: #fff;
  --color-primary: #ff4656;
} 

body {
  background-color: rgba(0, 0, 17, 0.494);
  background-image: linear-gradient(
    108deg,
    rgba(31, 35, 38, 0.99) 0%,
    rgba(26, 10, 12, 0.85) 54%,
    rgba(15, 44, 50, 1) 100%
    ),
    url("../images/img-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  width: 100%;
}

/* header */

.header-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 1%;
  height: 14.4vh;
}

.valorant-icon {
  height: 5.1vh;
}

.header-title {
  color: #fff;
  font-size: 3vh;
  text-align: center;
}

/* main */

.main-container {
  display: flex;
  justify-content: center;
}

.main {
  margin-top: 5%;
}

.main-title {
  color: #fff;
  font-family: "Druk Wide Bold";
  font-size: 5vh;
  font-weight: bold;
  margin-bottom: 2%;
  text-align: center;
  text-transform: uppercase;
}

/* cards */

.cards {
  display: flex;
  justify-content: center;
  margin-left: 5%;
}

.card-container {
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  height: 24vh;
  margin-left: 4%;
  width: 13vw;
  border-top-left-radius: 7%;
}

.card-character {
  background-color: #ff4656;
  border: 1px solid #fff;
  box-sizing: border-box;
  margin: 3%;
  height: 100%;
  overflow: hidden;
  width: 100%;
  border-top-left-radius: 7%;
}

.character-3 {
  object-position: 40% 0%;
}

.character-img {
  height: 85vh;
  margin-top: -20%;
  object-fit: cover;
  width: 100%;
}

.name-character {
  color: #ff4656;
  font-family: "Druk Wide Bold";
  font-size: 3vh;
  text-align: center;
}

/* main photo */

.character-container {
  border: none;
  box-sizing: border-box;
  overflow: hidden;
  height: 85.6vh;
}

.image-character {
  height: 140vh;
  object-fit: cover;
  margin-top: -10%;
  margin-left: 15%;
}

/* date */

.date {
  color: #fff;
  font-family: Open Sans;
  font-size: 10vh;
  font-style: normal;
  font-weight: bold;
  height: 10vh;
  right: 12%;
  line-height: 92.68%;
  position: absolute;
  top: 75%;
  width: 10vw;
}

.line {
  border: 1.5px solid #FF4656;
  right: 11%;
  position: absolute;
  top: 84%;
  transform: rotate(90deg);
  width: 10%;
}

.year {
  color: #FF4656;
  font-family: Open Sans;
  font-size: 4vh;
  right: 11%;
  letter-spacing: 0.05em;
  position: absolute;
  top: 81%;
}

/* footer */

.footer {
  left: 13.17%;
  position: absolute;
  top: 92%;
}

.share-icon, .svg-footer {
  height: 4vh;
}

.svg-footer {
  color: #fff;
}